<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>Jahir.me | </title>
  <link href="/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="libs/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="libs/animate.css/animate.min.css" rel="stylesheet"/>

  <link href="css/main.min.css" rel="stylesheet"/>
  <link href="css/responsive.min.css" rel="stylesheet"/>

  <!--[if lt IE 9]>
  <script src="libs/js/html5shiv.js"></script>
  <script src="libs/js/respond.min.js"></script>
  <![endif]-->
  <link rel="shortcut icon" href="images/ico/favicon.ico"/>
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png"/>
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png"/>
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png"/>
  <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png"/>
  <script src="libs/modernizr/modernizr.min.js"></script>


</head><!--/head-->
<body class="bg-dark">


{% block content %}
{% endblock %}

{% block footer %}

<!--/#footer-->

<!-- javascript libraries -->

<script type="text/javascript" src="libs/jquery/dist/jquery.min.js"></script>
<script type="text/javascript"
        src="libs/js/body_movin.min.js"></script>
<!--<script type="text/javascript"
        src="https://res.cloudinary.com/rodetyo/raw/upload/v1471318488/bodymovin_phobwl.js"></script>-->
<!--<script type="text/javascript" src="libs/zepto/zepto.min.js"></script>-->
<script type="text/javascript" src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
<!--<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>-->
<!--<script type="text/javascript" src="libs/gmaps/gmaps.min.js"></script>-->
<!--<script type="text/javascript" src="libs/js/smoothscroll.js"></script>-->
<!--<script type="text/javascript" src="libs/js/jquery.parallax.js"></script>-->
<!--<script type="text/javascript" src="libs/js/coundown-timer.js"></script>-->
<!--<script type="text/javascript" src="libs/js/jquery.scrollTo.js"></script>-->
<!--<script type="text/javascript" src="libs/js/jquery.nav.js"></script>-->
<script type="text/javascript" src="libs/wow/dist/wow.min.js"></script>
<script type="text/javascript" src="libs/js/pace.min.js"></script>
<!--<script type="text/javascript" src="https://cdn.rawgit.com/HubSpot/pace/v1.0.0/pace.min.js"></script>-->
<!--<script type="text/javascript" src="http://www.hobbynote.com/src/js/dest/canvas.min.js"></script>-->


<script type="text/javascript" src="js/main.min.js"></script>


<script type="text/javascript" src="libs/angular/angular.min.js"></script>
<script type="text/javascript" src="libs/angular-ui-router/release/angular-ui-router.min.js"></script>
<script type="text/javascript" src="libs/angular-animate/angular-animate.min.js"></script>


<script type="text/javascript" src="app/index.js"></script>
<script type="text/javascript" src="app/home/home.controller.js"></script>
<script type="text/javascript" src="app/about/about.controller.js"></script>
<script type="text/javascript" src="app/work/work.controller.js"></script>
<script type="text/javascript" src="app/article/article.controller.js"></script>
<script type="text/javascript" src="app/contact/contact.controller.js"></script>


{% endblock %}


</body>
</html>
