{% extends 'master' %}

  {% block content %}
<div ng-app="index">

  <div id="clouds">
    <div class="cloud x1"></div>

    <div class="cloud x2"></div>
    <div class="cloud x3"></div>
    <div class="cloud x4"></div>
    <div class="cloud x5"></div>
    <div class="cloud x6"></div>
    <div class="cloud x7"></div>
  </div>


  <div class="fab">
    <svg xmlns="http://www.w3.org/2000/svg" fill="#03A9F4" height="24" viewBox="0 0 24 24" width="24" class="message">
      <path
        d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"></path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
    <form class="hidden">
      <input type="text" id="to" placeholder="To"/>
      <input type="text" id="subject" placeholder="Subject"/>
      <textarea id="message" placeholder="Say Something"></textarea>
      <div class="send">SEND</div>
    </form>
  </div>

  <div ng-controller="MainController as main">


    <ui-view>
      <h3 class="text-center loader top-left">loading</h3>
      <div class="loader">
        <div class="inner one"></div>
        <div class="inner two"></div>
        <div class="inner three"></div>
      </div>
    </ui-view>

    <!--/#footer-->
  </div>
</div>


  {% endblock %}
